BasedOnStyle: LLVM
ColumnLimit: 80

# Allow short statements on single line
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
